<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <img src="./logo.png" />
    <h3>You appear to be trying to access my server directly</h3>
    <p>
       this is not allowed. please refer to the client side only.
    </p>
  </body>
</html>
