<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <div align="center">

    <h1>{{title}}</h1>
    <img src="./Logo.png" width="20%"/>
    <h3>You appear to be trying to access my server directly</h3>
    <p>
       This is not allowed. Please refer to the client side only.
    </p>
    <p>
      If you wanted to see the source for my portfolio, this is available <a href="https://github.com/ccmiller2018/reactportfoliosite">here</a>
    </p>
  </div>
  </body>
</html>
